/*
Theme Name: Booksite
Theme URI: http://booksite.com/
Author: Permatex Dev Team
Author URI: http://booksite.com/
Description: booksite Theme
Version: 1.0

*/
*{
  margin:0px;
  padding:0px;
}

body, html{
  height:100;
  box-sizing:border-box;
}

body{
 /* text-align:center; */
  font-family: Libre Baskerville;
  position:relative;
}

h1, h2, h3, h4, h5, h6{
  font-family: Libre Baskerville;
  text-transform: uppercase;
  margin-bottom:20px;
}

nav ul {
  list-style:none;
  margin-bottom:0px;
}

nav ul li{
  padding:0 15px;
}

body > .container{
  padding-top:150px;
}

a{
  color : #FFDE00;
}

a:hover{
  color : #FFDE00;
  text-decoration:none;
}

h2{
  margin-bottom:35px;
}

h2.title{
  text-align:center;
}

.error{
  color:#f00;
  max-width: 600px;
  margin: 0 auto;
}

/* header */

header{
  background:#000;
  position:fixed;
  width:100%;
  z-index:2;
  top:0px;
  box-shadow:0 0 4px rgba(4,116,128,.14), 0 4px 8px rgba(4,116,128,.28);
}

/**/
#site-navigation li{
  padding: 30px 11px;
  display:inline-block;
  font-style:normal;
  font-family: 'Barlow', sans-serif;
  font-size:18px;
  text-transform:uppercase;
}

#site-navigation li a{
 color:#fff;
}

#site-navigation li a:hover, #site-navigation li.current-menu-item a{
  border-bottom:2px solid #FFDE00;
  color: #FFDE00;
}

.humburger span{
  width:40px;
  margin:8px 0;
  height:3px;
  border-radius:2px;
  -webkit-border-radius:2px;
  background:#FFDE00;
  display:block;
}

.humburger span:nth-of-type(2){
  width:30px;
}

.humburger{
  display:none;
}

.closed{
  cursor:pointer;
  display:none !important;
}

/* header */

/*slider*/
.owl-carousel{
  position:relative;
}

.owl-nav{
  text-align:center;
  text-align: center;
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
}

.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev{
  padding:10px 20px !important;
  background:#FFDE00;
  color:#000;
  font-size:25px;
  text-align: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.owl-carousel .owl-nav button.owl-next{
  right:0px;
}

.owl-carousel .owl-nav button.owl-prev{
  left:0px;
}

/*preloader*/
#preloader{
  position: fixed;
  top: 0;
  left: 0;
  background:#000;
  z-index: 99;
  height: 100%;
  width:100%;
}

#status i{
  font-size:120px;
  color:#0178bc;
  position:absolute;
  z-index: 1;
}

#status i:nth-of-type(2n){
  color:#f3b218;
  font-size:100px;
  z-index: 2;
  padding: 10px;
}

#status i:nth-of-type(3n){
  color: #e33242;
  font-size:80px;
  z-index: 3;
  padding: 21px;
}

#status  {
  position: absolute;
  left: 50%;
  top: 50%;
  transform:translate(-50%, -50%);
}

/*home*/
.story-home{
  padding:50px 30px;
  background:rgba(4, 116, 165, 0.1);
  margin-top:20px;
}

.story-home h2{
  color:rgba(4, 116, 165, 1);
}

.about-us{
  padding: 80px 0;
}

/*body{
  background: url(assets/images/unsplash.jpg);
  background-size: cover;
  background-position: 50% 0;
  height: 100%;
  text-align: center;

}*/

.home-slider{
  padding-top:87px;
}

.home-story{padding-bottom: 80px;}

.home-slider .banner-image{
  position:relative;
}

.home-slider .banner-content{
  position:absolute;
  text-align:left;
  /*bottom:0;
  background:rgba(0, 0, 0, 0) linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.9) 100%, rgba(0, 0, 0, 0.9) 100%) repeat scroll 0% 0%;
  width:100%;*/
  top: 50%;
  left: 50%;
  transform:translate(-50%, -50%);
  padding:30px;
  color:#fff;
}

.home-slider .banner-content > div{
  max-width: 1050px;
  width:100%;
}

.post, .story {
  border-bottom:1px solid #efefef;
  padding-bottom:50px;
  margin-bottom:50px;
}

.post::nth-last-child(1) {
  border-bottom:none;
  margin-bottom:0px;
}

.story::nth-last-child(1){
  border-bottom:none;
  margin-bottom:0px;
}

.outer .inner{
  padding:30px 50px;
  font-family: Libre Baskerville;
  width: 50%;
}

.outer:nth-of-type(2n){
  flex-direction: row-reverse;
  -webkit-flex-direction: row-reverse;
}

.story-image{
  overflow:hidden;
  width: 50%;
}

.story-image img{
  transition: transform 2s;
  transform:scale(1.2);
}

.story-image:hover img{
  transform:scale(1);
}

.outer img{
  width:100%;
  height:auto;
}

.time{
  font-size:16px;
  margin-bottom:1rem;
}

.home-heading{
  font-size:30px;
  margin-bottom:18px;
}

.banner-content h2 a{
  color:#fff;
}

/*form*/
input, textarea{
  border:none;
  border-bottom:2px solid #edeef0;
  background:none;
  padding:10px 0;
  width:100%;
  outline:none;
}

textarea{
  resize: none;
}

input:focus, textarea:focus{
  border-bottom: 2px solid #FFDE00;
}

label{
  text-align:left;
  display:block;
}

form{
  max-width:600px;
  margin: 30px auto; 
}

input[type="submit"]{
  border:1px solid #FFDE00;
  background:transparent;
  color:#000;
  font-size:22px;
  font-family: 'Barlow', sans-serif;
  font-weight:600;
  letter-spacing: 8px;
}

.form-group{
  position: relative;
}

.form-group:after{
  content: '';
  width: 0%;
  height: 2px;
  background: #FFDE00;
  display: block;
  transform: translateY(-50%);
  position: absolute; 
  transition: 2s ease;left: 0px;
  bottom: 0px;
}

.textarea.form-group:after{
  bottom: 5px;
}

.form-group:hover:after{
  width: 100%;
}

.form-group:hover input, .form-group:hover textarea{
  border-color: #fff;
}

.button{
  position:relative;
  width:100%;
  overflow:hidden;
}

.button-effect:before, .button-effect:after{
  content:'';
  width:100%;
  position:absolute;
  left:0px;
  right:0px;
  top:0px;
  right:0px;
  height: 100%;
  display:block;
  background:#FFDE00;
}

.button-effect:before{
  transform: translate3d(-100%, 0, 0);
}

.button-effect:after{
  transition: transform 600ms cubic-bezier(0.165, 0.84, 0.44, 1); 
  transform: translate3d(100%, 0, 0);
}

.button:hover .button-effect:before, .button:hover .button-effect:after{
  z-index:-1;
  transform: translateZ(0);
  transition: transform 700ms cubic-bezier(0.165, 0.84, 0.44, 1);
}

.button:hover .button-effect:after {
  transition:none;
  opacity: 0;
}

div.wpcf7 .ajax-loader{
  position:absolute;
}

/*sidebar*/
#secondary{
  text-align:left;
}

#searchform{
  position:relative;
  margin:0 0 25px;
  padding:0px;
  box-shadow:none;
  border-top:none;
}

#searchform > div::after{
  content: "\f002";
  font-family: "Font Awesome 5 Free";
  font-weight: 900; 
  position:absolute;
  right:11px;
  top:7px;
  font-size: 22px;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

#searchform label{
  display:none;
}

#s{
  border:1px solid #FFDE00;
  padding-left:10px;
  padding-right:55px;
}

#s:focus{
  border-color: #FFDE00;
}

#searchsubmit{
  position: absolute;
  width: 45px;
  color: #FFDE00;
  background :#FFDE00;
  padding: 5px;
  right: 0px;
  top:0px;
}

#secondary ul{
  list-style:none;
  margin-bottom:0px;
}

#secondary ul li{
  margin-bottom:10px;
  color:#FFDE00;
}

#secondary ul li:before  {content: "\f5da";
  font-family: "Font Awesome 5 Free";
  font-weight: 900; 
  font-size: 22px;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  color:inherit;
  padding-right: 11px;
}


#secondary ul li a{
  font-size:20px;
}

#secondary section:not(#search-2){
  padding:15px;
  margin-bottom:25px;
}

/*blog*/
.single-image img{
  width:100%;
  height:auto;
}

.entry, .meta{
  margin:20px 0;
}

.blog-button{
  max-width: 180px;
  text-align: center;
  position: relative;
}

.post img, .story .single img{
  width:100%;
  height:100%;
}

/*footer*/
footer{
  background: #edeef0;
  padding-top:25px;
  text-align:center;
}

footer #text-2 a{padding: 10px;font-size: 20px;color:#000;}

footer #text-4 a{
  font-size:25px;
  color:#505050;
  padding:0 15px; 
  transition: .6s .02s;
  margin-bottom:1rem;
}

footer #text-4 a:hover{
  transform:rotateY(360deg);
}

/*Common*/
.time span{
  padding-right:10px;
  display:inline-block;
}

.more{    
  position: relative;
  display: inline-block;
  font-size:20px;
  padding: 11px 25px;
  background: #fccb0a;
  color: #000; transition: ease .5s; 
  font-weight:600;
}

.more:hover{
  padding-right:35px;
  padding-left:35px;
  text-decoration:none;
  color: #fff;
}

.more:after{   
  content:''; 
  position:absolute;     
  border-bottom: 52px solid transparent;
  border-top: 0 solid transparent;
  border-left: 17px solid #fccb0a;right:-17px;top:0px;
}

.more:before{ 
  content:''; 
  position:absolute; 
  border-top: 52px solid transparent;
  border-right: 17px solid #fccb0a;
  border-bottom: 0px solid transparent;left:-17px;top:0px;
}

.read::after{
  content: "\f518";
  font-family: "Font Awesome 5 Free";
  font-weight: 900; 
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  display:block;
  font-size: 35px;
  width: 50px;
  margin: 0 auto;
  background: #fff;
}

.read::before{
  content: '';
  height: 2px;
  width: 180px;
  right: 0px;
  background: #FFDE00;
  display: inline-block;
  text-align: center;
  position: absolute;
  margin-top: 48px;
  z-index: -1;
  transition: ease 2s;
}

/*pagination*/
.pagination{
  justify-content:right;
}

.pagination li{}
.pagination li a{
  font-size:20px;
}

.owl-carousel img{
  width: 100%;
  height: auto;
}
 
/*Responsive*/
@media (max-width: 1024px){
  .home-heading{
    font-size:38px;
    margin-bottom:12px;
  }

  .time{
    margin-bottom:12px;
  }

  .outer .inner{
    padding:33px;
  }
}

@media (max-width: 767px){
  .closed, .humburger{
    display:block !important;
  }

  .story-image, .outer .inner{
    width: 100%;
  }

  header{
    padding: 15px 0;
  }

  #site-navigation{
    display: none;
    left:0px;
    position:fixed;
    height:100%;
    width:100%;
    background:#000;
    z-index:9;
    top:0;
  }

  #site-navigation ul{
    padding: 0;
    text-align: center;
    position:absolute;
    left:50%;
    top:50%;
    transform:translate(-50%, -50%);
  }

  #site-navigation li{
    display:block;
  }

  #site-navigation li a{
    color:#fff;
    font-size: 44px;
    text-transform: uppercase;
    font-style:normal;
    letter-spacing: 17px;
    position:relative;
    font-family:'Barlow', sans-serif;
  }

  #site-navigation li:not(.closed) a:before{
    content:'';
    width:0%;
    height:3px;
    background:#FFDE00;
    position:absolute;
    left:50%;
    bottom:0px;
    transform:translate(-50%, -50%);
    transition : ease 1s;
  }

  #site-navigation li a:hover:before{
    width:100%;
  }

  #site-navigation li a:hover, #site-navigation li.current-menu-item a{
    color:#fff;
    text-decoration:none;
    border-bottom:none;
  }

  .outer{
       flex-wrap: wrap;
       -webkit-flex-wrap:wrap;
  }

  .home-heading{
    font-size:22px;
  }
  
  .home-slider .banner-content{
    padding-top:50px;
  }
  
  .about-us{
    padding: 40px 0;
  }

  .time{
    font-size:16px;
  }
  
  .responsive-logo{
    width:110px;
  }
  
  .outer .inner{
    padding:20px;
  }
  
  #site-navigation li a{
    font-size:20px;
  }
  
  h2{
    margin-bottom:20px;
  }
  
  .time{
    margin-bottom:20px;
  }
  
  /*header*/
  #site-navigation ul{
    position: relative;
    left: auto;
    top: 0%;
    transform: translate(0%, 10%);
  }

  #site-navigation li{
    padding:9px 0;
  }

  #site-navigation li a{
    letter-spacing: 10px;
    font-size: 20px;
    padding-bottom:6px;
  }

  .post img, .story .single img{
    padding-bottom:25px;
  }

  .owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev{
    padding: 3px 10px !important;
    font-size:16px;
  }

  .home-slider {
    padding-top: 71px;
  }
}
